{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Detail</title>
    <script src="https://kit.fontawesome.com/692189991f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'hotel/css/detail.css' %}">
</head>

<body>
<div class="content">
    <div class="image">
        <img
                src="{{room.cat.image.url}}">
    </div>
    <div class="room">
        <div class="home">
            <a href="{% url 'rooms' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
        </div>
        <div class="room-info">
            <h1 id="room-name">{{room.cat.name}}</h1>
            <p>{{room.cat.description}}</p>
        </div>
        <form id="booking-form" action="{% url 'bookings' %}" method="POST">
            {% csrf_token %}
            <div class="input-div">
                <label for="id_check_in">Check In : </label>
                <input type="datetime-local" id="id_check_in" name="check_in">
            </div>
            <div class="input-div">
                <label for="id_check_out">Check Out : </label>
                <input type="datetime-local" id="id_check_out" name="check_out">
            </div>
            <div class="input-div">
                <button type="submit">Book the room </button>
            </div>
        </form>
    </div>
</div>
</body>

</html>