*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 47, 48);
    color: rgb(236, 235, 228);
    font-family: sans-serif;
    line-height: 1.25;
}

/*Brand CSS */
.brand{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    margin: 1.5rem;
    align:center;
}
ul.mainmenu li.center {

}

/* Main Div */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
}

/* Room Divs */
.room{
    max-width:20%;
    min-width: 200px;
    text-align: center;
    border-radius: 1rem;
    padding:1rem;
    margin:0.5rem;
    background-color: #444;
    flex: 1;
}

.room:hover{
    background-color: #353535;
}

/* Inside Room Divs */
h2{
    margin: 0.25rem;
}
a{
    text-decoration: none;
    color: #dbdbdb;
}
img{
    max-width:100%;
}
ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 160px;
	font-size: 20px;
	overflow: hidden;

}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}
ul.mainmenu li.last {float: right;}

ul.mainmenu li a {
	text-decoration: none;
}
ul.mainmenu li a:hover {
	color: #fdc073;
}